li {
  list-style-type: none;
}

.deleteButton {
  font-size: 2em;
  cursor: pointer;
  z-index: 10;
}

#navbar-brand {
  z-index: 10;
}
textarea {
  color:darkslategray !important;
}
.bold {
  font-weight: bold;
}

.blue {
  color:#4cbcad;
}

.gray {
  color:dimgray;
}

.darkgray {
  color:darkslategray;
}

.white {
  color:white;
}

i {
  cursor: pointer;
}
.title {
  color: lightslategray;
}